<app-slider>
  <button firb>first</button>
  <button secb>second</button>
  <button thib>third</button>
  <button foub>fourth</button>
  <div first>
    <p>
      Sit qui minima lorem voluptatibus rem, porro voluptatum Culpa error?
    </p>
  </div>
  <div second>
    <p>
      Amet doloremque reiciendis eveniet nam porro? Dignissimos at veritatis
      aliquam
    </p>
  </div>
  <div third>
    <p>
      Amet fuga veniam saepe laborum iusto Reiciendis illo facilis minima.
    </p>
  </div>
  <div fourth>
    <p>
      Sit rem ipsam officiis quam illo Aperiam nostrum dolorem corporis!
    </p>
  </div>
</app-slider>
